venv
*.pyc
*.pyo
*.swp

podgen/tests/tmp_Atomfeed.xml

podgen/tests/tmp_Rssfeed.xml

tmp_Atomfeed.xml

tmp_Rssfeed.xml
# JetBrains IDE
.idea/

# Documentation build
/doc/_build
/docs

# Distribution and building the package
/dist
/MANIFEST
/build
/podgen.egg-info

